@import "../../global.scss";

.menu{
    display: none;
}

@media (max-width: 768px) {
.menu{
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -768px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease;

    &.active{
        right: 0;
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 25px;
        font-weight: 300;
        color: #9c424d;
        width: 60%;

        li{
            margin-bottom: 30px;

            span{
                font-family: "Prompt", sans-serif;
                font-size: inherit;
                color: inherit;
                text-decoration: none;
                cursor: pointer;

                a{
                    text-decoration: inherit;
                    color: inherit;
                    font-size: inherit;
                    font-family: inherit;
                    cursor: pointer;
                }
            }
            &:hover{
                font-weight: 500;
            }
        }
    }
}
}