@import "../../global.scss";


.Topbar{
    background-color: rgb(201, 235, 200);
    color: $mainColor;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 0.7s ease;

    .wrapper{
        padding: 7px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left{
            
            
            align-items: center;
            display: flex;

            .icon{

                img{
                    height:40px
                }
            }
            .logo{
                
                img{
                    // padding-top: 5%;
                    height: 40px;
                    width: 160px;
                    
                }

                text-decoration: none;
                color: inherit;
            }
            .itemContainer{
                display: flex;
                align-items: center;
                margin-left: 90px;

                .Icon{
                    font-size: 20px;
                    margin-right: 5px;
                }

                span{
                    font-size: 15px;
                    font-weight: 400;
                    margin-right: 35px;
                    margin-left: 35px;
                }
            }
        }
        .center{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            
            span{
                font-family: 'Prompt', sans-serif;
                font-size: 18px;
                font-weight: 500;
                margin-left: 40px;
                cursor: pointer;
            }

        }
    }

    
}

