.event{
    background-color: #9c424d;
    color: white;

    .introtext{
        align-items: center;
        justify-content: center;
        margin-top: 3%;
        display: flex;

        .vision{
            margin: 2%;
        }
        .mission{
            margin: 2%;
        }

        p{
            text-align: justify;
            font-family: 'Prompt', sans-serif;
            font-weight: 300;
            font-size: 24px;
            h2{
                text-align: center;
                margin-top: 5%;
                text-decoration: underline;
                font-family: 'Prompt', sans-serif;
                font-weight: 500;
            }
        }
    }


    .picturearea{

        background-color: #9c424d;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        border: 10px;
        .pic1{
            margin: 40px;
            border: 10px solid;
            border-color: #FFD0A5;
            img{
                height: auto;
                width: 350px;
                display: block;
            }
        }
    }

    .upcomingevent{

        
        margin-top: 5%;
        margin-left: 10%;
        margin-bottom: 7%;

        p{
            text-align: justify;
            font-family: 'Prompt', sans-serif;
            font-weight: 300;
            font-size: 30px;
        }

        h2{
            margin-top: 10px;
            margin-bottom: 10px;
            color: #FFD0A5;
            text-align: justify;
            font-family: 'Prompt', sans-serif;
            font-weight: 500;
            font-size: 40px;
        }
        h3{
            text-align: justify;
            font-family: 'Prompt', sans-serif;
            font-weight: 400;
            font-size: 30px;
        }
    }

}