.gallery{

    background-color: #9c424d;
    color: white;

    .heading{
        margin-top: 5%;
        margin-left: 10%;
        
        
        p{
            text-align: justify;
            font-family: 'Prompt', sans-serif;
            font-weight: 500;
            font-size: 32px;
            position: fixed;
        }

    }

    .sections{

        margin-top: 2%;
        display: flex;

        .left{
            margin-left: 10%;
            margin-top: 5%;
            width: 20%;
            float: left;
            position: fixed;
            display: flex;
            flex-direction: column;
            p{
                margin-bottom: 5%;
                font-weight: 300;
                font-size: 25px;
                cursor: pointer;

                &.active{
                    font-weight: 500;
                }
            }

        }

        .right{
            position: absolute;
            margin-left: 30%;
            width: 80%;
            float: right;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            .scroll{

                overflow-y: auto;
                max-height: 80%;

                .imgContainer{
                
                    margin: 10px 20px;
                    
                    img{
                        width: 35%;
                        margin: 2%;
                        border: 7px solid white;
                        transition: transform 0.3s;
                        
                    }
    
                    img:hover{
                        transform: scale(1.05);
                    }
    
                }

            }
            
        }

        // @media (max-width: 768px) {
        //     flex-direction: column;

        //     .left {
        //         order: 1;
        //         width: 100%;
        //         position: fixed;
        //         float: none;
        //         margin-left: 7%;
        //         padding: 10px; /* Add padding for better spacing */ 
        //         flex-direction: row; 
        //         z-index: 2;
        //         p{
        //             margin: 10px;
        //             font-size: 3vw;
        //         }              
        //     }

        //     .right {
        //         top: 20%;
        //         width: 100%;
        //         position: relative;
        //         float: none;
        //         margin: 0;
        //         z-index: 1;
        //         overflow-y: scroll;

        //     }
        // }

    }


}