.gallery{

    background-color: #9c424d;
    color: white;

    .heading{
        margin-top: 10%;
        margin-left: 10%;
        
        
        p{
            text-align: justify;
            font-family: 'Prompt', sans-serif;
            font-weight: 500;
            font-size: 32px;
            position: fixed;
        }

    }

    .sections{

        display: flex;

        .left{
            margin-left: 10%;
            margin-top: 5%;
            width: 20%;
            float: left;
            position: fixed;
            p{
                margin-bottom: 5%;
                font-weight: 300;
                font-size: 24px;
                cursor: pointer;

                &.active{
                    font-weight: 500;
                }
            }

        }

        .right{
            position: absolute;
            margin-left: 30%;
            width: 80%;
            float: right;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;


            .imgContainer{
                
                margin: 10px 20px;
                
                img{
                    width: 35%;
                    margin: 2%;
                    border: 7px solid white;
                    transition: transform 0.3s;
                    
                }

                img:hover{
                    transform: scale(1.05);
                }

            }
        }

    }


}