.app{
   
    background-color: #9c424d;
    height: 100vh;

    .homepage{
        width: 100%;
        height: calc(100vh - 70px);
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        // scroll-snap-type: y mandatory;
        scrollbar-width: none;  //for firefox
        &::-webkit-scrollbar{
            display: none;
        }

        .introsection{
            height: auto;
            overflow: hidden;
            scrollbar-width: none;  //for firefox
            top: 70px;
            &::-webkit-scrollbar{
                display: none;
            }
        }
        .eventsection{
            height: auto;
            overflow: hidden;
        }
        .contactsection{
            height: auto;
        }
    }

    .aboutus{

        width: 100%;
        height: calc(100vh - 70px);
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        // scroll-snap-type: y mandatory;
        scrollbar-width: none;  //for firefox
        &::-webkit-scrollbar{
            display: none;
        }

    }

    .gallery{

        width: 100%;
        height: calc(100vh - 45px);
        position: relative;
        top: 40px;
        scroll-behavior: smooth;
        // scroll-snap-type: y mandatory;
        scrollbar-width: none;  //for firefox
        &::-webkit-scrollbar{
            display: none;

        }

    }

    
}