.app{
   
    background-color: #bdc3c7;
    height: 100vh;

    .dashboard{
        width: 100%;
        height: calc(100vh - 70px);
        position: relative;
        top: 75px;
        scroll-behavior: smooth;
        // scroll-snap-type: y mandatory;
        scrollbar-width: none;  //for firefox
        &::-webkit-scrollbar{
            display: none;
        }

       
    }
}